*{
    margin: 0; padding: 0; box-sizing: border-box;
}
header .benefitme {
    float: left;
    width: 100%;
    padding: 15px 30px 10px;
    box-shadow: 0 2px 4px #00000033;
    vertical-align: middle;
}
header .benefitme .user-dropdown .dropdown {
    position: relative;
    float: right;
}
header .benefitme .user-dropdown ul.dropdown-menu {
    position: absolute;
    min-width: 110px;
    text-align: left;
    left: auto;
    border: none;
    right: 0;
    padding: 0;
    margin-top: 10px;
    box-shadow: 0 3px 7px rgb(0 0 0 / 18%);
}
header .benefitme .user-dropdown .dropdown-menu li a {
    padding: 4px 10px;
    color: #06C6B3;
    font-size: 13px;
}
header .benefitme .user-dropdown button#dLabel {
    border: none;
    background: transparent;
    font-size: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.side-bar {
    float: left;
    width: 250px;
    background-color: #06C6B3;
    min-height: 100vh;
}
.side-bar ul li {
    list-style: none;
}
.side-bar a img {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    margin-top: -3px;
    margin-right: 10px;
    position: absolute;
    left: 45px;
    top: 16px;
}
.side-bar a {
    width: 100%;
    padding: 10px 26px 10px 70px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 20px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 300;
    vertical-align: middle;
    position: relative;
}
.add-newoffer{
    width: calc(100% - 250px);
    float: left;
    padding: 0px 25px;
}
.add-newoffer .pra-sec p {
    font-size: 18px;
    padding: 25px 30px 10px;
    color: #777777;
    line-height: 30px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 300;
}
.add-newoffer .form-box {
    width: 75%;
    float: left;
}
.add-newoffer .pro-service a {
    font-size: 18px;
    line-height: 30px;
    color: #06C6B3;
    text-decoration: none;
    font-family: 'PF Bague Sans Pro';
    font-weight: 300;
    padding: 10px 14px;
    display: block;
}
.add-newoffer .form-box.Customer-journey figure {
    float: left;
    width: 100%;
    text-align: center;
    padding: 6px 12px;
}
.add-newoffer .pro-service span {
    display: inline-block;
}
.add-newoffer .pro-service {
    float: left;
    width: 100%;
    box-shadow: 0 2px 4px #00000029;
    border-radius: 8px;
   margin-bottom: 30px;
}
.add-newoffer .pro-service img {
    margin-left: 16px;
}
.add-newoffer .form-box figure p {
    padding-top: 10px;
    font-size: 12px;
    line-height: 20px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 300;
    padding-left: 14px;
}
.add-newoffer .form-box button {
    min-width: 100%;
    height: 48px;
    border: 1px solid#9B3270;
    background-color: #fff;
    color: #9B3270;
    font-size: 18px;
    font-family: 'PF Bague Sans Pro';
    line-height: 20px;
    margin-top: 14px;
}
.add-newoffer .form-box .bgcolor{
    background-color: #06C6B3;
    border:none;
    color: #fff;
}
.add-newoffer .form-box .form-control {
    height: 48px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #ACACAC;
    border: 1px solid#70707094;
    font-family: 'PF Bague Sans Pro';
}
.add-newoffer .form-box .form-group .discount-offer{
    background-image: url(../images/discount_sale_icon.png);
    background-repeat: no-repeat;
    background-position: 96% center;
    padding-right: 35px;
    background-size: 16px;
}
.add-newoffer .form-box .form-group .bg-calender {
    background-image: url(../images/calender_icon.png);
    background-repeat: no-repeat;
    background-position: 96% center;
    padding-right: 35px;
    background-size: 14px;
}
.add-newoffer .Customer-journey {
    width: 100%;
    float: left;
}
.add-newoffer .form-box h3 {
    font-size: 20px;
    margin: 0;
    line-height: 24px;
    font-weight: 700;
    padding: 8px 0px;
    font-family: 'Futura PT';
}
.form-box.Customer-journey .Message {
    box-shadow: none;
    margin-bottom: 0;
}
.add-newoffer .Customer-journey label {
    font-size: 16px;
    color: #ACACAC;
    line-height: 24px;
    font-weight: 400;
    font-family: 'PF Bague Sans Pro';
}
.add-newoffer .Customer-journey option{
    color: #000;
}
.add-newoffer .Customer-journey .text-color{
    font-size: 18px;
    -webkit-appearance: none;
    background-image: url(../images/down_arrow_icon.png);
    background-repeat: no-repeat;
    background-position:96% center ;
    padding-right: 35px;
    background-size: 12px;
}
.add-newoffer .generate .givepoint-img{
    -webkit-appearance: none;
    background-image: url(../images/down_arrow_icon.png);
    background-repeat: no-repeat;
    background-position:96% center ;
    padding-right: 35px;
    background-size: 12px;
}
.add-newoffer .Customer-journey .category-mr {
    margin-right: -25px;
    margin-left: -25px;
}
.add-newoffer .generate {
    float: left;
    width: 100%;
    margin-top: 14px;
}
.add-newoffer .generate p {
    margin-top: 0px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.add-newoffer .code-img {
    float: left;
    width: 100%;
    padding: 24px;
}
.add-newoffer .generate .loction {
    margin-top: 20px;
}
.add-newoffer .code-img figure {
    float: left;
    width: 100%;
    padding: 20px;
}
.add-newoffer .code-img figure img {
    width: 100%;
}
.add-newoffer .code-img a{
    color: #06C6B3;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
   text-decoration: none;
   font-size: 18px;
}
.add-newoffer .code-img p{
    text-align: center;
}
/* -----------footer-css--------- */
.footer-sec {
    float: left;
    width: 100%;
    padding: 10px 30px ;
    background-color: #DB3F9B;
    margin-bottom: 20px;
}
.footer-sec ul{
    margin-top: 7px;
}
.footer-sec ul li {
    display: inline-block;  
}
.footer-sec ul li a {
    font-size: 16px;
    padding-right: 40px;
    text-decoration: none;
    color: #fff;
}
.footer-sec .gogle-play {
    padding-right: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
/* -----------footer-css--------- */



.add-newoffer .form-box .coutome-uploadbtn {
    color: #ACACAC;
    float: left;
    font-size: 18px;
    padding-top: 50px;
    width: 100%;
    position: relative;
    height: 170px;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 6px;
}
.add-newoffer .generate span figure  {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.add-newoffer .form-group {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}
.add-newoffer .form-box .upload-file {
    height: 170px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 9;
}
.add-newoffer .form-group .discount-sale{
    background-image: url(../images/discount_sale_icon.png);
    background-repeat: no-repeat;
    background-position:96% center ;
    padding-right: 35px;
}
.add-newoffer .Customer-journey .click-bar {
    margin: 10px 0px 20px;
}
.add-newoffer .switch {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 16px;
    vertical-align: middle;
}
.add-newoffer .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.add-newoffer .slider.round {
    border-radius: 34px;
}
.add-newoffer .slider.round:before {
    border-radius: 50%;
}
.add-newoffer .generate span {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'PF Bague Sans Pro';
    color: #ACACAC;
}
.add-newoffer .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #06C6B3;
    -webkit-transition: .4s;
    transition: .4s;
    width: 26px;
} 
.add-newoffer .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    font-size: 10px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
    line-height: 12px;
}
.add-newoffer input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(10px);
}
.category-sec {
    width: calc(100% - 250px);
    float: left;
    padding: 30PX 20px;
}
.category-sec .menu-category {
    float: left;
    width: 100%;
    padding-right: 8px;
}
.menu-category a {
    font-size: 16px;
    background: #06C6B3;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 6px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
    text-decoration: none;
}
.menu-category span {
    font-size: 18px;
    line-height: 30px;
    color: #777777;
}
.menu-category .color-text{
    color:#06C6B3;
}
.category-sec .table-responsive {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.category-sec td {
    border-top: 0 !important;
    padding: 24px 20px !important;
    font-size: 18px;
    color: #212121;
    font-family: 'PF Bague Sans Pro';
    font-weight: 700;
}
.category-sec td a img {
    width: 18px;
    margin-left: 18px;
}

.category-sec .table-responsive i.fa.fa-trash-o {
    color: #9B3270;
    font-size: 28px;
}
.category-sec tr td span a {
    padding: 0px 5px; 
}
.category-sec tr {
    box-shadow: 0px 2px 4px #00000029;
    border-radius: 8px;
}
.category-sec .menu-switch .refresh a  {
    color: #168AFF;
    padding-right: 22px;
    font-size: 20px;
    font-weight: 400;
    background-color: #fff;
    font-family: 'PF Bague Sans Pro';
}
.category-sec .menu-images {
    float: left;
    width: 100%;
    margin-top: 30px;
    position: relative;
}
.category-sec figure img {
    float: left;
    width: 100%;
    border-radius: 10px;
}
.category-sec .menu-images figure {
    float: left;
    width: 100%;
    position: relative; 
}
.category-sec .menu-images span {
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0;
    background: #FFFFFF;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 0px 0px 0px 10px;
    box-shadow: 0px 3px 6px #00000029;
}
.category-sec .menu-images span a{
    color: #9B3270;
    font-size: 18px;
}
.check-in-tabing .checkin-venuepg {
    float: left;
    width: 100%;
}
.check-in-tabing ul {
    margin-left: 0;
    border: none;
    border: 1px solid #06c6b3;
    display: inline-block;
    margin: 0 !important;
    border-radius: 3px;
    overflow: hidden;
}
.check-in-tabing ul.nav.nav-tabs li {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Poppins';
    background-color: #fff;
    display: inline-block;
    margin: 0 !important;
}
.check-in-tabing ul.nav.nav-tabs li.active {
    border-radius: 5px;
}
.check-in-tabing ul.nav.nav-tabs .checkin-venuepg{
    border: 1px solid #06C6B3;
    display: inline-block;
    width: 295px;
}
.check-in-tabing ul.nav.nav-tabs a {
    color: #06C6B3;
    padding: 10px 50px;
    text-decoration: none;
    border: none;
    background-color: #fff;
    margin-right: 0;
}
.check-in-tabing ul.nav.nav-tabs a:hover{
    color: #000;
}
.check-in-tabing ul.nav.nav-tabs li a:hover , .check-in-tabing ul.nav.nav-tabs li.active a{
    background-color: #06C6B3;
    color: #fff;
}
.check-in-add .generate.Customer-journey figure img {
    width: auto;
    display: inline-block;
    max-width: 100%;
}
.check-in-add .generate.Customer-journey figure {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    float: none;
    padding: 20px;
}
.login {
    vertical-align: middle;
    width: 100%;
    background-image: url(../images/l_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: table;
    background-position: center 250px;
}
.login .login-form {
    display: table-cell;
    width: 800px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}
.login .login-form  .login-form-sec {
    display: inline-block;
    width: 950px;
    vertical-align: middle;
    background: #ffff;
    border-radius: 16px;
    box-shadow: 0px 12px 14px #00000029;
}
.login .login-form .login-form-sec .contrary-popular {
    width: 50%;
    background: rgb(155,50,112);
    background: linear-gradient(0deg, rgba(155,50,112,1) 0%, rgba(219,63,155,1) 100%);
    float: left;
    padding:50px 32px 80px;
    border-top-left-radius: 16px ;
    border-bottom-left-radius:16px ;
    min-height: 570px;
}
.login-form-sec .contrary-popular  figure {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.login-form-sec .contrary-popular figure img {
    width: 230px;
    margin-bottom: 30px;
}
.login-form-sec .contrary-popular h3 {
    color: #FFFFFF;
    font-size: 29px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'PF Bague Sans Pro';
    letter-spacing: .80px;
    margin: 15px 0px;
}
.login-form-sec .contrary-popular  p {
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
    line-height: 26px;
}
.login .login-with {
    float: left;
    width: 50%;
    padding-top: 40px;
}
.login  h3 {
    font-size: 32px;
    line-height: 23px;
    font-weight: bold;
    font-family: 'Futura PT';
    color: #000000;
    margin-bottom: 18px;
}
.login-with .form-box-sec {
    float: left;
    width: 100%;
    padding: 25px 32px;
}
.login-with .form-box-sec .form-control {
    height: 48px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    font-family: 'PF Bague Sans Pro';
    border: 1px solid#70707094;
}
.login-with .form-box-sec button {
    font-size: 18px;
    font-family: 'PF Bague Sans Pro';
    line-height: 20px;
    margin-top: 14px;
    width: 100%;
    height: 45px;
    color: #FFFFFF;
    background-color: #06C6B3;
    border: none;
}
.login .login-facebook {
    float: left;
    width: 100%;
}
.login .login-with .form-box-sec .password-show {
    background-image: url(../images/pass_show.png);
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 24px;
}
.login .login-facebook button {
    font-size: 15px;
    background: #fff;
    color: #1977F3;
    border: 1px solid #1977F3;
    margin-bottom: 24px;
}
.login .login-facebook button img{
    margin-right: 8px;
}
.login .login-facebook .text-color{
    color: #E84234;
    border: 1px solid#E84234;
}
.login .login-facebook p{
    font-size: 18px;
    line-height: 30px;
    color: #ACACAC;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
}
.login .login-facebook span {
    color: #06C6B3;
    font-size: 22px;
}
.login .login-with .sign-up{
    background-image: url(../images/down_arrow_icon.png);
    background-repeat: no-repeat;
    background-position: 96% center;
    padding-right: 35px;
    -webkit-appearance: none;
    background-size: 14px;
    color: #000;
}
.login .sign-up-benefitme{
    max-height: 570px;
    overflow-x:  auto;
}
.login .login-with .switch {
    float: right;
    position: relative;
    width: 26px;
    height: 16px;
    vertical-align: middle;
}
.login .login-with .switch.off-cilck{
    margin-right: 10px;
}
.login .login-with  .switch input {
    width: 0;
    height: 0;
    opacity: 0;
}
.form-box-sec .slider.bg-color{
    background-color: #ACACAC;
}
.form-box-sec .General{
    font-size: 18px;
    line-height: 24px;
    color: #212121;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
}
.form-box-sec .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #06C6B3;
    -webkit-transition: .4s;
    transition: .4s;
    width: 26px;
} 
.login-with .form-box-sec .slider.click:before {
    border-radius: 50%;
}
.login-with .form-box-sec .slider{
    border-radius: 34px;
}
.form-box-sec .slider.bg-color:before{
    position: absolute;
    content: "";
    height: 12px;
    font-size: 10px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color:#fff;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
    line-height: 12px;
}
.login-with .form-box-sec .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    font-size: 10px;
    width: 12px;
    right: 2px;
    bottom: 2px;
    background-color:#fff;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
    line-height: 12px;
}
.login-with .form-box-sec input:checked + .slider:before {
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-10px);
}
.login-with .form-box-sec input:checked + .slider.bg-color:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(10px);
}
.login-with .form-box-sec .bg-calender {
    background-image: url(../images/calender_icon.png);
    background-repeat: no-repeat;
    background-position: 96% center;
    padding-right: 35px;
    background-size: 14px;
}
.Subscription {
    width: 100%;
    float: left;
    background-color: #06C6B3;
    padding: 30px 0px 50px;
}
.Subscription figure{
    float: left;
    width: 100%;
    margin-top: 25px;
}
.Subscription h3 {
    font-size: 43px;
    color: #FFFFFF;
    line-height: 40px;
    font-family: 'Futura PT';
    font-weight: 600;
}
.Subscription p {
    font-size: 28px;
    color: #FFFFFF;
    line-height: 30px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
}
.Subscription ul {
    margin-bottom: 22px;
}
.Subscription ul li {
    color: #FFFFFF;
    list-style: none;
    padding: 2px 0px;
    font-size: 20px;
    line-height: 28px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
}
.Subscription a {
    font-size: 18px;
    padding: 10px 20px 10px;
    background: #fff;
    text-decoration: none;
    margin-top: 0px;
    color: #06C6B3;
    border-radius: 5px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
}
.subscri-features {
    float: left;
    width: 100%;
}
.subscri-features h3 {
    font-size: 40px;
    line-height: 50px;
    font-family: 'Futura PT';
    font-weight: 600;
    color: #000000;
    text-align: center;
}
.subscri-features p {
    font-size: 26px;
    line-height: 30px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
    color: #777777;
    text-align: center;
}
 .standard {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.standard p{
    text-align: left !important;
}
 .standard p {
    text-align: left;
    font-size: 30px;
    padding: 18px 16px 18px 26px;
    background: #01C0A242;
    border-radius: 10px 10px 0px 0px;
    color: #212121;
    font-family: 'PF Bague Sans Pro';
}
 .standard .month {
    color: #006756;
    font-weight: 600;
}
.standard .products-promotions {
    float: left;
    width: 100%;
    padding: 8px 32px;
}
.standard .products-promotions li {
    font-size: 18px;
    list-style: none;
    padding: 8px 0px;
    color: #212121;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
}
.standard .products-promotions img {
    margin-right: 8px;
    width: 14px;
}
.basic-sec{
    background: #fff !important;
    width: auto;
}
.basic-sec figure{
    text-align: center;
    margin-bottom: 20px !important;
}
.basic-sec img {
    width: auto !important;
}
.basic-sec h3{
     color: #000 !important;
     text-align: center !important;
     font-size: 32px !important;
     line-height: 23px !important;
     font-weight: bold !important;
     font-family: 'Futura PT' !important;
     margin-bottom: 24px !important;
}
.basic-sec p{font-size: 30px !important;
    padding: 18px 16px 18px 26px !important;
    background: #01C0A242 !important;
    border-radius: 10px 10px 0px 0px !important;
    color: #212121 !important;
    font-family: 'PF Bague Sans Pro' !important;
}
.standard .products-promotions button.form-control {
    background: #06C6B3;
    height: 45px;
    border: none;
    font-size: 18px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
    border-radius: 8px;
}
 .standard .bg-stand {
    background: #6ECCEF42;
}
 .standard .bg-premiun{
    background-color: #EFC46E42;
}
 .standard .bg-month{
    color: #B78620;
}
.standard  .color-month{
    color:  #037198;
}
.form-box-sec p {
    font-size: 30px;
    color: #777777;
    line-height: 30px;
    text-align: left;
    padding-bottom: 20px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
}
.form-box-sec.payment h3 {
    text-align: left;

}
.form-box-sec.otp-below {
    float: left;
    width: 100%;
    padding-top: 0;
}
.login-with .form-box-sec ul {
    margin: 0;
}
.login-with .form-box-sec ul label {
    width: 100%;
    font-size: 18px;
    color: #999;
    font-weight: 400;
    line-height: 24px;
    margin: 14px 0px;
    font-family: 'PF Bague Sans Pro';
}
.login-with .form-box-sec ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
}
.login-with .form-box-sec ul label span {
    color: #06C6B3;
    font-weight: 700;
}
.login-with .form-box-sec ul li input {
    width: 38px;
    height: 36px;
    text-align: center;
    outline: none;
    color: #999;
    border: 1px solid #999;
    border-radius: 4px;
}
.login-with.otp-box {
    width: 100%;
}
.login-form-sec.Verification-otp {
    width: 550px !important;
}
.login .login-with p {
    font-size: 19px;
    color: #212121;
    line-height: 25px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
    margin: 0;
}
.appoint-ment{
    width: calc(100% - 250px);
    float: left;
}
.appoint-ment {
    width: calc(100% - 250px);
    float: left;
    padding: 20px 50px 20px 20px;
}
.appoint-ment  .appoint-sec {
    float: left;
    width: 100%;
    padding: 10px;
}
.appoint-ment .appoint-sec p {
    font-size: 22px;
    color: #777777;
    line-height: 30px;
    font-weight: 400;
    font-family: 'PF Bague Sans Pro';
}
.appoint-ment .appoint-sec a {
    font-size: 16px;
    text-decoration: none;
    padding: 9px 20px;
   
    background: #06C6B3;
    color: #FFFFFF;
    line-height: 24px;
    font-weight: 400;
    font-family: 'PF Bague Sans Pro';
    border-radius: 5px;
}
.appoint-ment .new-requests ul {
    margin-left: 0;
    border: none;
    border: 1px solid #06c6b3;
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 25px;
}
.appoint-ment .new-requests ul.nav.nav-tabs li {
    font-size: 17px;
    line-height: 26px;
    font-family: 'PF Bague Sans Pro';
    background-color: #fff;
    display: inline-block;
    margin: 0 !important;
}
.appoint-ment .new-requests ul.nav.nav-tabs a {
    color: #06C6B3;
    padding: 10px 40px;
    text-decoration: none;
    border: none;
    background-color: #fff;
    margin-right: 0;
    border-radius: 0px;
}
.appoint-ment .new-requests ul.nav.nav-tabs li a:hover , .appoint-ment .new-requests ul.nav.nav-tabs li.active a{
    background-color: #06C6B3;
    color: #fff;
}
.appoint-ment .new-requests {
    float: left;
    width: 100%;
    position: relative;
}
.appoint-ment .new-requests .john-doe-box {
    float: left;
    width: 100%;
    padding: 20px 20px;
    box-shadow: 0px 2px 4px #00000029;
    border-radius: 10px;
    margin-bottom: 12px;
}
.appoint-ment .new-requests .john-doe-box figure {
    float: left;
    width: 100px;
}
.appoint-ment .new-requests .john-doe-box figure  img {
    width: 100%;
}
.appoint-ment .new-requests .Jessica-pra {
    width: calc(100% - 120px);
    float: left;
    vertical-align: inherit;
    padding-left: 20px;
}
.appoint-ment .new-requests .Jessica-pra h3 {
    margin: 0;
    line-height: 1;
    font-size: 17px;
    color: #212121;
    font-weight: 700;
    font-family: 'PF Bague Sans Pro';
    margin-top: 0;
}
.appoint-ment .new-requests .Jessica-pra p {
    font-size: 15px;
    margin: 0;
    font-family: 'PF Bague Sans Pro';
    line-height: 25px;
    color: #212121;
}
.appoint-ment .appointment-for p {
    font-size: 16px;
    color: #ACACAC;
    line-height: 30px;
    letter-spacing: .52px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
}
.appoint-ment .appointment-for{
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.appoint-ment .appointment-for p span {
    color: #212121;
}
.appoint-ment .new-requests .john-doe-box span a {
    min-width: 150px;
    min-height: 42px;
    font-size: 18px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-family: 'PF Bague Sans Pro';
    font-weight: 400;
    margin: 0 0px 0px 20px;
    border: 1px solid #9B3270;
    background: #fff;
    color: #9B3270;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    padding-top: 7px;
}
.appoint-ment .new-requests .john-doe-box span a.accept-bg {
    color: #fff;
    background: #06C6B3;
    border: none;
}
.appoint-ment .new-requests .john-doe-box ul {
    border: none;
    margin-top: 0;
    margin-bottom: 0px;
}
.appoint-ment .new-requests .john-doe-box li {
    display: inline-block;
}
.appoint-ment .new-requests .john-doe-box li a {
    padding-left: 15px;
}
.appoint-ment .new-requests .Jessica-pra p span {
    color: #ACACAC;
    padding-right: 10px;
}
.appoint-ment .new-requests .new-booking figure.small-img {
    float: left;
    /* width: 50px; */
}
.new-booking .number-table {
    float: left;
    width: 100%;
    border-bottom: 10px solid #06C6B3;
    border-radius: 6px;
    padding-bottom: 26px;
    padding-left: 25px;
}
.appoint-ment .new-requests .new-booking {
    float: left;
    width: 100%;
    margin-top: 15px;
    padding: 15px 10px;
}
.new-booking .number-table figure {
    width: 70px;
    float: left;
}
.new-booking .number-table figure img {
    width: 100%;
    vertical-align: text-top;
}
.number-table.table-box {
    box-shadow: 0px 2px 4px #00000029;
    border-bottom: none;
}
.appoint-ment .new-requests .john-doe-box figure.avarage-box {
    width: 70px;
    float: left;
}
.login .login-with p{text-align: center;}
header .benefitme img[width="230px"] {
    width: 150px;
}
header .benefitme .user-dropdown button span {
    display: inline-block;
    vertical-align: middle;
}
header .benefitme .user-dropdown button span img {
    width: 38px;
    border-radius: 40px;
    height: 38px;
    object-fit: cover;
}
.user-dropdown button#dLabel {
    border: none;
    background: transparent;
    font-size: 15px;
    outline: none !important;
}

@keyframes bake-pie {
    from {
      transform: rotate(0deg) translate3d(0,0,0);
    }
  }
  
.dashboard-chartbox .pieID {
    display: inline-block;
    vertical-align: top;
  }
  .dashboard-chartbox .pie {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 30px 30px 0;
    margin: 0 auto 20px!important;
    display: inline-block;
    top: 0;
}
.dashboard-chartbox .pie::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background: #EEE;
    border-radius: 50%;
    top: 50px;
    left: 50px;
  }
.dashboard-chartbox   .pie::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.1);
    margin: 220px auto;
    
  }
.dashboard-chartbox .slice {
    position: absolute;
    width: 200px;
    height: 200px;
    clip: rect(0px, 200px, 200px, 100px);
    animation: bake-pie 1s;
  }
.dashboard-chartbox .slice span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
  }
.dashboard-chartbox  .legend {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #FFF;
    padding: 15px;
    font-size: 13px;
    box-shadow: 1px 1px 0 #DDD,
                2px 2px 0 #BBB;
  }
.dashboard-chartbox  .legend li {
    width: 110px;
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
  }
  .legend em {
    font-style: normal;
  }
.dashboard-chartbox .legend span {
    float: right;
  }
  .dashboard-chartbox  .label {
    height: 1em;
    padding: .3em;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    display: none;
    color:#333;
    
  }
  .dashboard-heading {
    float: left;
    width: 100%;
    background: rgb(183 183 183 / 15%);
    padding: 10px 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.dashboard-heading h3 {
    font-size: 15px;
    margin: 0;
    color: rgb(0 0 0 / 50%);
}
.registered-customer {
    float: left;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 5px;
}
.registered-customer h3 , .current-offer h3{
    font-size: 18px;
    color: #000;
    font-family: 'Futura PT';
    margin: 0;
}
.customer-box-sec {
    float: left;
    width: 100%;
    margin-top: 12px;
}
.customer-box-sec .customerbox {
    float: left;
    width: 100%;
    padding: 20px 25px;
    background: #D6FBD7;
}
.customer-box-sec .customerbox h4 {
    margin: 0;
    font-size: 18px;
    color: #212121;
    font-family: 'PF Bague Sans Pro';
}
.customer-box-sec .customerbox h4 b {
    float: right;
    font-weight: 900;
    font-family: 'PF Bague Sans Pro';
}
.customer-box-sec .customerbox.lightorg {
    background: #FBF2D6;
}
.customerbox.lightblue {
    background: #D6F4FB;
}
.dashboard-chartbox {
    float: left;
    width: 100%;
}
.dashboard-chartbox .chartbox-sec {
    padding: 22px 20px;
    float: left;
    width: 100%;
    box-shadow: 0 0 3px rgb(0 0 0 / 16%);
    text-align: center;
    min-height: 358px;
}
.dashboard-chartbox .chartbox-sec h4 {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Futura PT';
    color: #212121;
}
.dashboard-chartbox .chartbox-sec .selectbox {
    float: right;
    font-weight: 400;
    font-family: 'PF Bague Sans Pro';
    min-width: 110px;
    height: 30px;
    border: 1px solid #707070;
    box-shadow: none !important;
    text-shadow: none;
    outline: none !important;
    font-size: 15px;
    color: #212121;
    padding: 4px 10px;
}
.dashboard-chartbox .chartbox-sec .pieID.pie {
    margin-right: 10px;
}
.dashboard-chartbox  .legend {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #FFF;
    padding: 0;
    font-size: 12px;
    box-shadow: none;
}
.dashboard-chartbox  .legend li {
    width: 80px;
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
    display: inline-block;
    margin-right: 10px;
}
.dashboard-chartbox  .legend li:last-child{margin-left: 0;}
.dashboard-chartbox .pie::after{margin: 0; display: none;}
.current-offer {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.current-offerBox {
    float: left;
    width: 100%;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    margin-bottom: 30px;
    padding: 15px 20px;
    margin-top: 10px;
}
.current-offerBox .imgbox {
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid #eee;
}
.current-offerBox .imgbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}
.current-offerBox .current-offercont {
    float: left;
    width: calc(100% - 125px);
    width: -ms-calc(100% - 125px);
    width: -moz-calc(100% - 125px);
    width: -webkit-calc(100% - 125px);
}
.current-offerBox .current-offercont h5 {
    color: #212121;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 5px;
}
.current-offerBox .current-offercont  h4 {
    color: #212121;
    font-size: 17px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 7px;
}
.current-offerBox .current-offercont h4 span {
    opacity: .4;
    font-weight: 500;
    font-size: 16px;
}
.current-offerBox .current-offercont p {
    color: #212121;
    font-size: 15px;
    font-family: 'PF Bague Sans Pro';
    font-weight: 600;
}
.current-offerBox .current-offercont p .discount-cont {
    background: rgb(255 0 0 / 70%);
    padding: 8px 15px;
    color: #fff;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.current-offerBox .current-offercont p 
 .redclr {
    color: #FF3939;
    font-weight: 400;
    padding-left: 12px;
}
.current-offerBox .socialIcon {
    float: right;
    list-style: none;
    margin: 0;
}
.current-offerBox .socialIcon li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.current-offerBox .socialIcon li a {
    display: inline-block;
    vertical-align: middle;
    color: #777777;
    font-size: 13px;
}
.current-offerBox .socialIcon li a i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}
.current-offerBox .socialIcon li a i img {
    width: 16px;
}
.current-offerBox .socialIcon li:last-child {
    margin: 0;
}
.current-offerBox .socialIcon li:last-child a i {
    margin-right: 0;
}
.current-offerBox .socialIcon li:last-child a i img {
    width: 14px;
}
.current-offerBox .prabox {
    padding: 15px 30px 0;
    color: #ACACAC;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 10px;
}
.current-offerBox .prabox p {
    margin: 0;
}
.addproduct-btn {
    background: #06c6b3;
    padding: 12px 15px;
    color: #fff !important;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none !important;
}
.products-hedmrtop {
    margin-top: -5px;
    display: inline-block;
    vertical-align: middle;
}
.appoint-ment .new-requests ul.socialIcon {
    border: 0;
}
.add-newoffer.appoint-ment .current-offer {
    margin-top: 0;
}
.add-newoffer.appoint-ment ul.nav.nav-tabs {
    margin-top: 0;
}
.appoint-ment .new-requests .addproduct-btn {
    position: absolute;
    right: 0;
    top: -62px;
}
div#messages .new-booking {
    margin-bottom: 10px;
}
.appoint-ment .new-requests div#messages .john-doe-box li:last-child a img {
    width: 11px;
}
.appoint-ment .new-requests div#messages .john-doe-box li:nth-child(2) a img {
    width: 14px;
}
.appoint-ment .new-requests div#messages .john-doe-box li:first-child a img {
    width: 16px;
}
.new-booking .active.col-md-4 .number-table {
    float: left;
    width: 100%;
    border-bottom: 10px solid #06C6B3;
    border-radius: 6px;
    padding-bottom: 26px;
    padding-left: 25px;
}

ul.nav.nav-tabs.number-sec.col-md-12{
    border: 0;
}
ul.nav.nav-tabs.number-sec.col-md-12 a.number-table {
    background: none !important;
    padding: 15px;
}
ul.nav.nav-tabs.number-sec li a:hover ,  ul.nav.nav-tabs.number-sec li.active a{
    float: left;
    width: 100%;
    border-bottom: 10px solid #06C6B3;
    border-radius: 6px;
    padding-bottom: 26px;
    padding-left: 25px;
}


.add-newoffer span.box-input {
    position: relative;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
}
.add-newoffer .Customer-journey .menu-text {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    vertical-align: sub;
    font-family: 'PF Bague Sans Pro';
}
.add-newoffer  span.box-input input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    cursor: pointer;
    opacity: 0;
    display: block;
    margin: 0;
}
.add-newoffer span.box-input small {
    background: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 2px;
    border: 1px solid#ACACAC;
}
.add-newoffer span.box-input input:checked + small {
    background: #06C6B3;
    border-color:#06C6B3;
}

.add-newoffer span.box-input input:checked + small:after{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 5px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.add-newoffer .form-group .timer-icon {
    background-image: url(../images/timer-icon.png);
    background-repeat: no-repeat;
    background-position: 96% center;
    padding-right: 35px;
}
.add-newoffer .form-group .close-icon{
    background-image: url(../images/close-icon.png);
    background-repeat: no-repeat;
    background-position: 98% center;
    padding-right: 35px;
}
.add-newoffer .generate .add-new{
    color: #06C6B3;
}
.appoint-ment .new-requests .john-doe-box .pizza-sec {
    float: left;
    width: 200px;
}
.appoint-ment .new-requests .john-doe-box .pizza-sec img {
    border-radius: 15px;
}
.appoint-ment .new-requests .Jessica-pra.text-contant {
    width: calc(100% - 200px);
}
.appoint-ment .new-requests .Jessica-pra.text-contant p {
    color: rgb(0 0 0 / 60%);
}
.appoint-ment .new-requests .Jessica-pra.text-contant h3 {
    line-height: 24px;
}
.Jessica-pra.text-contant span.offer {
    color: red;
    font-size: 14px;
    line-height: 20px;
}
.appoint-ment .appoint-sec button {
    border: none;
    background: none;
    color: #168AFF;
    font-size: 16px;
    padding-right: 20px;
    font-family: 'PF Bague Sans Pro';
}
.appoint-ment .appoint-sec button i.fa.fa-refresh {
    font-size: 19px;
    vertical-align: text-top;
    padding-right: 5px;
}
















/*tabel*/
.calenderfull-sec #calendar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:0 auto;
  }
  
.calenderfull-sec  #calendarForm {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: absolute;
    left: calc(50% - 100%);
    margin-left:-30px;
    background-color: #15161b;
  }
  
.calenderfull-sec .header {
    height: 50px;
    width: 100%;
    background: rgb(54, 56, 63);
    text-align: center;
    position: relative;
    z-index: 100;
  }
  
.calenderfull-sec .header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: 1px;
  }
  
.calenderfull-sec .left,
.calenderfull-sec .right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    top: 50%;
    margin-top: -7.5px;
    cursor: pointer;
  }
  
.calenderfull-sec .left {
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #fff transparent transparent;
    left: 20px;
  }
  
.calenderfull-sec .right {
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent rgb(255, 221, 64);
    right: 20px;
  }
  
.calenderfull-sec  .month {
    /*overflow: hidden;*/
    opacity: 0;
    margin-top: 30px;
  }
  
 .calenderfull-sec .month.new {
    -webkit-animation: fadeIn 1s ease-out;
    opacity: 1;
  }
  
 .calenderfull-sec .month.in.next {
    -webkit-animation: moveFromTopFadeMonth 0.4s ease-out;
    -moz-animation: moveFromTopFadeMonth 0.4s ease-out;
    animation: moveFromTopFadeMonth 0.4s ease-out;
    opacity: 1;
  }
  
 .calenderfull-sec .month.out.next {
    -webkit-animation: moveToTopFadeMonth 0.4s ease-in;
    -moz-animation: moveToTopFadeMonth 0.4s ease-in;
    animation: moveToTopFadeMonth 0.4s ease-in;
    opacity: 1;
  }
  
 .calenderfull-sec .month.in.prev {
    -webkit-animation: moveFromBottomFadeMonth 0.4s ease-out;
    -moz-animation: moveFromBottomFadeMonth 0.4s ease-out;
    animation: moveFromBottomFadeMonth 0.4s ease-out;
    opacity: 1;
  }
  
 .calenderfull-sec .month.out.prev {
    -webkit-animation: moveToBottomFadeMonth 0.4s ease-in;
    -moz-animation: moveToBottomFadeMonth 0.4s ease-in;
    animation: moveToBottomFadeMonth 0.4s ease-in;
    opacity: 1;
  }
  
 .calenderfull-sec .week {
    background: #15161b;
  }
  
 .calenderfull-sec .day {
    display: inline-block;
    width: 14.28%;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    background: #15161b;
    position: relative;
    z-index: 100;
  }
  
 .calenderfull-sec .day.other {
    color: rgba(255, 255, 255, 0.3);
  }
  
 .calenderfull-sec .day.today {
    color: rgb(255, 221, 64);
  }
  
 .calenderfull-sec .day-name {
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.7px;
  }
  
 .calenderfull-sec .day-number {
    font-size: 24px;
    letter-spacing: 1.5px;
  }
  
 .calenderfull-sec .day .day-events {
    list-style: none;
    margin-top: 3px;
    text-align: center;
    height: 12px;
    line-height: 6px;
    overflow: hidden;
  }
  
 .calenderfull-sec .day .day-events span {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 5px;
    height: 5px;
    line-height: 5px;
    margin: 0 1px;
  }
  
 .calenderfull-sec .blue {
    background: rgba(156, 202, 235, 1);
  }
 .calenderfull-sec .orange {
    background: rgba(247, 167, 0, 1);
  }
 .calenderfull-sec .green {
    background: rgba(153, 198, 109, 1);
  }
 .calenderfull-sec .yellow {
    background: rgba(249, 233, 0, 1);
  }
  
 .calenderfull-sec .red {
    background: rgba(255, 0, 0, 1);
  }
  
 .calenderfull-sec .details {
    position: relative;
    width: 100%;
    height: 75px;
    background: rgb(54, 56, 63);
    margin-top: 5px;
    /*-border-radius: 4px;-*/
  }
  
 .calenderfull-sec .details.in {
    -webkit-animation: moveFromTopFade 0.5s ease both;
    -moz-animation: moveFromTopFade 0.5s ease both;
    animation: moveFromTopFade 0.5s ease both;
  }
  
 .calenderfull-sec .details.out {
    -webkit-animation: moveToTopFade 0.5s ease both;
    -moz-animation: moveToTopFade 0.5s ease both;
    animation: moveToTopFade 0.5s ease both;
  }
  
 .calenderfull-sec .arrow {
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -2px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent rgb(54, 56, 63) transparent;
    transition: all 0.7s ease;
  }
  
 .calenderfull-sec .events {
    height: 75px;
    padding: 7px 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
 .calenderfull-sec .events.in {
    -webkit-animation: fadeIn 0.3s ease both;
    -moz-animation: fadeIn 0.3s ease both;
    animation: fadeIn 0.3s ease both;
  }
  
 .calenderfull-sec .events.in {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  
 .calenderfull-sec .details.out .events {
    -webkit-animation: fadeOutShrink 0.4s ease both;
    -moz-animation: fadeOutShink 0.4s ease both;
    animation: fadeOutShink 0.4s ease both;
  }
  
 .calenderfull-sec .events.out {
    -webkit-animation: fadeOut 0.3s ease both;
    -moz-animation: fadeOut 0.3s ease both;
    animation: fadeOut 0.3s ease both;
  }
  
 .calenderfull-sec .event {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    padding: 2px 16px;
    vertical-align: top;
  }
  
 .calenderfull-sec .event.empty {
    color: #eee;
  }
  
 .calenderfull-sec .event-category {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 6px 0 0;
    vertical-align: top;
  }
  
 .calenderfull-sec .event span {
    display: inline-block;
    padding: 0 0 0 7px;
  }
  
 .calenderfull-sec .legend {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 30px;
    background: rgb(42, 44, 53);
    line-height: 30px;
  }
  
 .calenderfull-sec .entry {
    position: relative;
    padding: 0 0 0 25px;
    font-size: 13px;
    display: inline-block;
    line-height: 30px;
    background: transparent;
  }
  
 .calenderfull-sec .entry:after {
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    top: 12px;
    left: 14px;
  }
  
 .calenderfull-sec .entry.blue:after {
    background: rgba(156, 202, 235, 1);
  }
 .calenderfull-sec .entry.orange:after {
    background: rgba(247, 167, 0, 1);
  }
 .calenderfull-sec .entry.green:after {
    background: rgba(153, 198, 109, 1);
  }
 .calenderfull-sec .entry.yellow:after {
    background: rgba(249, 233, 0, 1);
  }
  
 .calenderfull-sec .entry.red:after {
    background: rgba(255, 0, 0, 1);
  }
  
  / Animations are cool!  /
  @-webkit-keyframes moveFromTopFade {
    from {
      opacity: 0.3;
      height: 0px;
      margin-top: 0px;
      -webkit-transform: translateY(-100%);
    }
  }
  @-moz-keyframes moveFromTopFade {
    from {
      height: 0px;
      margin-top: 0px;
      -moz-transform: translateY(-100%);
    }
  }
  @keyframes moveFromTopFade {
    from {
      height: 0px;
      margin-top: 0px;
      transform: translateY(-100%);
    }
  }
  
  @-webkit-keyframes moveToTopFade {
    to {
      opacity: 0.3;
      height: 0px;
      margin-top: 0px;
      opacity: 0.3;
      -webkit-transform: translateY(-100%);
    }
  }
  @-moz-keyframes moveToTopFade {
    to {
      height: 0px;
      -moz-transform: translateY(-100%);
    }
  }
  @keyframes moveToTopFade {
    to {
      height: 0px;
      transform: translateY(-100%);
    }
  }
  
  @-webkit-keyframes moveToTopFadeMonth {
    to {
      opacity: 0;
      -webkit-transform: translateY(-30%) scale(0.95);
    }
  }
  @-moz-keyframes moveToTopFadeMonth {
    to {
      opacity: 0;
      -moz-transform: translateY(-30%);
    }
  }
  @keyframes moveToTopFadeMonth {
    to {
      opacity: 0;
      -moz-transform: translateY(-30%);
    }
  }
  
  @-webkit-keyframes moveFromTopFadeMonth {
    from {
      opacity: 0;
      -webkit-transform: translateY(30%) scale(0.95);
    }
  }
  @-moz-keyframes moveFromTopFadeMonth {
    from {
      opacity: 0;
      -moz-transform: translateY(30%);
    }
  }
  @keyframes moveFromTopFadeMonth {
    from {
      opacity: 0;
      -moz-transform: translateY(30%);
    }
  }
  
  @-webkit-keyframes moveToBottomFadeMonth {
    to {
      opacity: 0;
      -webkit-transform: translateY(30%) scale(0.95);
    }
  }
  @-moz-keyframes moveToBottomFadeMonth {
    to {
      opacity: 0;
      -webkit-transform: translateY(30%);
    }
  }
  @keyframes moveToBottomFadeMonth {
    to {
      opacity: 0;
      -webkit-transform: translateY(30%);
    }
  }
  
  @-webkit-keyframes moveFromBottomFadeMonth {
    from {
      opacity: 0;
      -webkit-transform: translateY(-30%) scale(0.95);
    }
  }
  @-moz-keyframes moveFromBottomFadeMonth {
    from {
      opacity: 0;
      -webkit-transform: translateY(-30%);
    }
  }
  @keyframes moveFromBottomFadeMonth {
    from {
      opacity: 0;
      -webkit-transform: translateY(-30%);
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  @-moz-keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes fadeOutShink {
    to {
      opacity: 0;
      padding: 0px;
      height: 0px;
    }
  }
  @-moz-keyframes fadeOutShink {
    to {
      opacity: 0;
      padding: 0px;
      height: 0px;
    }
  }
  @keyframes fadeOutShink {
    to {
      opacity: 0;
      padding: 0px;
      height: 0px;
    }
  }
  .modal .appoint-ment {
    width: 100% !important;
    padding: 0;
    float: none !important;
    display: inline-block;
}
.calenderfull-sec .john-doe-box {
    padding: 10px 10px 10px !important;
    margin-top: 12px;
    margin-bottom: 0 !important;
}
.calenderfull-sec .john-doe-box figure {
    width: 72px !important;
    height: 72px;
}
.calenderfull-sec .john-doe-box  p {
    font-size: 14px !important;
}
.calenderfull-sec .john-doe-box h3 {
    font-size: 15px !important;
}
.calenderfull-sec .john-doe-box 
 .Jessica-pra {
    padding-left: 8px;
}
.calenderfull-sec .appoint-ment .appointment-for p span  i img {
    width: 12px;
    margin-top: -5px;
}
.calenderfull-sec .appoint-ment .new-requests .john-doe-box li a img {
    width: 25px;
}
.tabel-detailview .modal-header {
    padding-bottom: 0;
    border: 0;
}
.tabel-detailview .modal-header button {
    width: 25px;
    padding: 0;
    opacity: 1;
    color: #fff;
    background: #9b3270;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    border-radius: 30px;
}
.tabel-detailview .modal-body {
    padding-top: 0;
}
.tabel-detailview .modal-body .tabel-viwe-heading h3 {
    margin-top: 0;
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 0;
}
.tabel-detailview .modal-body .tabel-viwe-heading h3 span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -7px;
}
.tabel-detailview .modal-body .tabel-viwe-heading h3 span a {
    display: inline-block;
    vertical-align: middle;
}
.tabel-detailview .modal-body .tabel-viwe-heading h3 span a img {
    width: 12px;
    display: inline-block;
}
.tabel-detailview .modal-body .tabel-viwe-heading p {
    font-size: 13px;
    color: #ACACAC;
}
.tabel-detailview .modal-body .tabel-viwe-heading  span {
    color: #000;
}   
.calenderfull-sec .header {
    background: #9B3270;
    color: #fff;
}
.calenderfull-sec .header h1 {
    font-size: 16px;
    font-weight: 600;
}
.calenderfull-sec .header .right {
    border-color: transparent transparent transparent #fff;
}
.calenderfull-sec .legend {
    display: none;
}
.calenderfull-sec .month.new {
    margin-top: 0;
}
.calenderfull-sec .month.new .week {
    background: #fff;
}
.calenderfull-sec .month.new .week .day {
    background: #fff;
    font-size: 14px !important;
}
.calenderfull-sec .month.new .week .day .day-number {
    font-size: 14px;
}
.calenderfull-sec .month.new .week .day .day-name {
    color: #676767;
}
.calenderfull-sec .month.new .week .day.today .day-number {
    color: #9b3270;
    font-weight: 600;
}

.login-with .form-box-sec span.invalid-feedback {
    text-align: left;
    color: red;
    width: 100%;
    float: left;
    font-size: 13px;
}